body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px black;
}

div.clear {
    clear:both;
}

#main-dungeon {
    background-image: url('../images/cave.png');
    border: 5px solid black;
    margin: 0;
    height: 450px;
    width: 99%;
}

h1 {
    margin: 0;
}

h1#announcement {
    text-align: center;
    margin: 3em 0 2em 0;
    width: 100%;
    min-height: 2em;
}

h2 {
    margin: 0;
}

div#character-div {
    float: left;
    height: 15em;
    width: 48%;
}

img#character-img {
    left: 200px;
    bottom: 70px;
    position: relative;
    width: 200px;
}

p#character-hp {
    left: 230px;
    bottom: 80px;
    max-width: 7em;
    padding: 3px;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    text-align: center;
}

p#character-damage {
    position: relative;
    top: -300px;
    color: red;
    text-align: center;
    bottom: 80px;
    font-size: 1.5em;
}

.damage {
    animation-name: damage;
    animation-duration: 2s;
}

#character-damage.barrier-damage {
    color: blue;
}

@keyframes damage {
    0% {
        top: -300;
        opacity: 1;
    }
    100% {
        top: -250px;
        opacity: 0;
    }
}

img.running-away {
animation-name: running;
animation-duration: 2s;
}

@keyframes running {
    0% {
        left: 200px;
    }
    15% {
        transform: rotateY(180deg);
        left: 200px;
    }
    100% {
        transform: rotateY(180deg);
        left: -300px;
    }
}

div#monster-div {
    float: right;
    height: 15em;
    width: 48%;
}

img#monster-img {
    left: 200px;
    position: relative;
    width: 200px;
}

img.dying {
    animation-name: dying;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes dying {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        filter: blur(10px);
    }
}

div#gold {
    font-size: 2em;
}

#gold {
    background: linear-gradient(blue, navy);
    border: 5px solid white;
    border-radius: 10px;
    color: gold;
    height: 2.5em;;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 6em;;
}

#gold p {
    margin: 3px;
    padding: 2px;
}

#gold-increase {
    color: gold;
    height: 0;
    margin: 0 auto;
    padding: 3px 5px;
    top: -55px;
    position: relative;
    text-align: center;
    z-index: 2;
    width: 6em;
}

#gold-increase.bling {
    animation-name: bling;
    animation-duration: 2s;
}

@keyframes bling {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -100px;
    }
}

#dungeon-choice {
    font-size: 2em;
    background: linear-gradient(blue, navy);
    border: 5px solid white;
    border-radius: 10px;
    margin: 0 auto;
    width: 99%;
}

#choice-container {
    margin: auto;
}

.pressed {
    color: grey;
}

#fight-container, #flee-container {
    width: 24%;
    margin: 1em 0;
    float: left;
    text-align: center;
}

#item-container {
    width: 49%;
    float: left;
    text-align: center;
}

#item-container p {
    margin-top: 2.5em;
}

#dungeon-choice p {
    padding: 0 5px;
}