body {
    background-color: black;
    color: gold;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0 5em;
}

#title {
    margin-top: 7em;
}

#title h1 {
    font-size: 6em;
    margin: 0;
    padding: 0;
}

/* These are neat! */
#title1 {
    background: linear-gradient(red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: perspective(150px) rotateX(25deg);
}

#title2 {
    background: linear-gradient(yellow, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: perspective(150px) rotateX(-25deg);
    
}

#menu a {
    color: white;
    text-decoration: none;
}

#menu-items {
    list-style-type: none;
    font-size: 1.5em;
}

#menu-items li {
    padding: .5em 0;
}